/* Common CSS */
h3, p {
    margin: 0 !important;
}

/* Configuration CSS */
.ep-container {
    margin: 20px;
}
.ep-config {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/* Playground CSS */
.ep-content {
    max-width: 450px;
    margin-top: 10px;
}
.ep-fieldset {
    text-align: left;
}