/* Common CSS */
h3,
h4,
p {
  margin: 0 !important;
}

/* Configuration CSS */
.ep-container {
  margin: 20px;
  margin-bottom: 60px;
}
.ep-config {
  margin-bottom: 45px;
}
.ep-config-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.ep-config-title h4 {
  padding-left: 8px;
}
.ep-icon-wrapper span {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.config-quill-badge:not(:first-child) .config-quill-icon::before {
  margin-left: 0;
}
.icon-dice-solid {
    padding-right: 8px;
}
.icon-cog-alt {
  padding-right: 4px;
}
.config-quill-container {
  display: none;
  text-align: left;
}
.config-quill-icon-long {
  padding-right: 20px;
}
.config-quill-badge {
  background: black;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 5px;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 2px 5px 2px;
}
.config-quill-toolbar {
  max-width: 600px;
  border: 1px dashed #ccc;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.config-quill-toolbar .expand {
  font-size: 18px;
  padding: 0 5px;
  color: black;
  align-self: center;
}
.config-quill-fulltoolbar {
  min-height: 60px;
  padding: 10px 0;
  font-size: 0;
}
#toolbar-drop {
  width: 100%;
  padding: 5px 15px;
}
.placeholder {
  border: 1px dashed #666;
  background-color: #f7f7f7;
  width: 35px;
  height: 22px;
  margin: 0 2px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: bottom;
}
.not-sortable {
  background: #f0f0f0f0;
  color: #777;
  cursor: not-allowed;
}
#toolbar-drop .config-quill-badge {
  background: #ffa646;
  color: black;
}
.quill-toolbar {
  margin-bottom: 20px;
}
.ep-save {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 1px solid #ececec;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.ep-save .buttonLike {
  margin-left: initial;
}
.success-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.success-msg {
  color: #270;
  background-color: #dff2bf;
}
.error-msg {
  color: #d8000c;
  background-color: #ffbaba;
}
.quill-msg {
  color: #059;
  background-color: #bef;
}
#message_status {
  display: none;
  text-align: start;
  align-self: center;
}
.load-quill {
  font-size: 28px;
  align-self: center;
}

@keyframes animate-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: animate-spin 1s linear infinite;
}

/* Playground CSS */
.ep-content {
  max-width: 450px;
  margin-top: 10px;
}
.ep-fieldset {
  text-align: left;
}
